address  = "${addr}"
address2  = "${addr2}"
self  = "${self}"
self2  = "${self2}"
eni  = "${eni}"
eni2  = "${eni2}"
vip = "${vip}"
vpn = "${vpn}"
backend = "${backend}"
route_table_id = "${route_table_id}"

username = "${username}"
port = "${port}" 
