{
    "class": "ADC",
    "schemaVersion": "3.5.0",
    "id": "vpn_id",
    "label": "VPN App",
    "remark": "VPN App",
    "VPN_App": {
        "class": "Tenant",
"SampleApp": {
            "class": "Application",
            "template": "generic",
            "myService": {
                "class": "Service_Forwarding",
                "remark": "Example Forwarding Virtual Server",
                "virtualAddresses": [
                    [
                        "0.0.0.0",
                        "0.0.0.0/0"
                    ]
                ],
                "virtualPort": 0,
                "forwardingType": "ip",
                "layer4": "tcp",
                "profileL4": "basic",
                "snat": "none"
            }
        },
        "VPN_Service": {
            "class": "Application",
            "template": "https",
            "serviceMain": {
                "class": "Service_HTTPS",
                "virtualAddresses": [
                    "${vip}",
                    "${vip2}"
                ],
                "virtualPort": 443,
                "serverTLS": "/VPN_App/VPN_Service/pTlsServer_Local",
                "profileAccess": {
                    "use": "accessProfile"
                },
                "profileConnectivity": {
                	"bigip": "/Common/erchenConnect"
                }
            },
            "pTlsServer_Local": {
                "class": "TLS_Server",
                "label": "simplest decl requires just cert",
                "certificates": [
                    {
                        "certificate": "tlsserver_local_cert"
                    }
                ],
                "authenticationTrustCA": "testTrustCA",
                "authenticationMode": "require"
            },
            "tlsserver_local_cert": {
                "class": "Certificate",
                "certificate": {
                    "bigip": "/Common/default.crt"
                },
                "privateKey": {
                    "bigip": "/Common/default.key"
                }
            },
            "vpncert": {"class": "Certificate",
                "certificate": "${certificate}",
                "privateKey": "${private_key}"
            },
            "testTrustCA": {
                "class": "CA_Bundle",
                "bundle": "${ca_certificate}"
            },
                        "accessProfile": {
            	"class": "Access_Profile",
            	"url": "https://${bucket}.s3.amazonaws.com/profile_Common_erchen_ap.conf.tar",
            	"ignoreChanges": true
            }
        }
    }
}
